In [1]:
import pandas as pd
import numpy as np

# Print the result dataframe after each task!

## 1.a Read the test_scores.csv file and store the data in a DataFrame, with the first column as and index

## 1.b print the first 3 rows of the dataframe, with the following data: name, qualify

## 2.a print the average score of those who qualify

## 2.b replace the missing values with the average of the others. Keep in mind that this is not an "inplace" operation by default

## 3.a in the previously filled dataframe, select the rows where the number of attempts is greater than 2 and qualify is false

## 3.b return the sum of the examination attempts by the students

## 4.a replace the "yes" and "no" values in the qualify column to True and False

## 4.b change the name James in row 3 to Sam

## 5.a insert a new colum "color" to the dataframe

In [28]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

## 5.b save the modified df to file as test_scores_updated.csv